# Dependency directories
node_modules/
jspm_packages/

# Local environment variables (Crucial for keeping secrets hidden!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build folders
dist/
build/
.next/
out/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / System files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp